.App {
  text-align: center;
  background-color: #282c34;
}

.App-background {
  background-color: #282c34;
  min-height: 100vh;
  min-width: 100vw;
  position: absolute;
  z-index: -1;
}

.App-header-section {
  align-items: center;
}

.App-logo {
  height: 60px;
  pointer-events: none;
}

.App-logo-text {
  font-size: 50px;
  letter-spacing: 2px;
  margin: 20px;
  margin-left: 20px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
}
